version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: finanzauto-postgres
    environment:
      POSTGRES_DB: finanzauto
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: